.form {
    margin: auto;
    width:30%;
    border: 1px solid black;
    padding: 50px;
    background-color:#d0c2d1;
    align-items: center;
}

.form button {
    margin: 5px;
    align-items: center;
    background-color: brown;
    color: white;
    padding: 5px;
}