ul
{
    list-style-type: none;
}

.circle {
    width: 500px;
    height: 500px;
    padding: 70px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    background-color: brown;
  }

