
.nav .logo {
    height: 100px;
    width: 100px;
    padding: 15px;
}

.nav .NavLink {
   float: right;
   margin: 15px;
   text-decoration: none;
   font-size: 20px;
}

.nav .NavLink:hover {
     color: black;
     background-color: orange;
     padding: 5px;
}