
.nav {
    background-color: #d0d9e8;
}

.nav .logo {
    height: 80px;
    width: 150px;
    padding: 15px;
}

.nav .NavLink {
   float: right;
   margin: 15px;
   text-decoration: none;
   font-size: 17px;
}

.nav .NavLink:hover {
     color: black;
     background-color: orange;
     padding: 5px;
}