.form {
  width: 40%;
  margin: 50px auto 0;
  padding: 30px 10px;
  background-color: #841B1B;
  color: white;
  text-align: center;
  outline: 1px dotted #FF8C42;
  outline-offset: -10px;
}

.input {
  width: 100%;
  color: #555555;
}

.header {
  padding-bottom: 25px;
  color: white;
  font-size: 25px;
}

.login {
  padding: 5px;
}

.login, .signup {
  margin: 10px;
  color: #555555;
  background-color: white;
  border: none;
  border-radius: 3px;
  outline: 1px dotted #FF8C42;
  outline-offset: -2px;
}

.login:hover, .signup:hover {
  background-image: linear-gradient(to bottom right, #FF8C42, #FFAF7C);
  color: white;
  outline: 1px dotted white;
  outline-offset: -2px;
}

.signup {
  padding: 7px;
}
